@charset "UTF-8";
body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

a {
  color: #227ce8; }

.sidebar {
  position: fixed;
  left: 15px;
  top: 15px;
  width: 80px;
  font-family: Helvetica, sans-serif; }
  .sidebar a {
    text-decoration: none; }
  .sidebar img {
    padding: 0 3px;
    border: 0; }
  .sidebar .avatar {
    padding: 0;
    margin-left: 2px;
    border-radius: 5px; }
  .sidebar .block {
    display: none; }
  .sidebar .name {
    display: none;
    margin: 10px 0 20px 0; }
    .sidebar .name #fname {
      padding-left: 1px;
      font-size: 23px;
      letter-spacing: 5px;
      color: black; }
    .sidebar .name #lname {
      font-size: 17px;
      font-weight: bold;
      letter-spacing: 1px;
      color: black; }
  .sidebar .meta {
      padding-bottom:5px;}
  .sidebar .meta a {
    margin-left: 0px;
    color: black; }
    .sidebar .meta a:hover {
      color: #227ce8; }
  .sidebar .sections {
    margin: 15px 0 15px 0; }
    .sidebar .sections a {
      padding: 3px 0;
      color: black;
      font-weight: bold;
      font-size: 12px;
      display: block; }
      .sidebar .sections a:hover {
        color: #227ce8; }
    .sidebar .sections ul {
      margin: 0;
      padding: 0; }
    .sidebar .sections ul ul a {
      color: #bebebe;
      padding-left:7px;}
    .sidebar .sections li {
      list-style: none;
      margin-bottom: 7px; }
    .sidebar .sections li li {
      margin-bottom: 2px; }
  .sidebar .switch {
    display: none; }
    .sidebar .switch a {
      color: #939393; }

.content {
  max-width: 650px;
  margin-left: 110px;
  margin-right: 20px;
  margin-bottom: 50px; }
  .content h1 {
    color: #bebebe;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400; }
  .content h1 .description {
    color: #ebebeb;}
  .content h1 .booktitle {
    color: #737373;}
  .content h1 a {
    color: #111;
    text-decoration: none; }
  .content h2 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400; }
  .content h2 a {
    color: #111;
    text-decoration: none; }
  .content h3 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400; }
  .content h3 a {
    color: #111;
    text-decoration: none; }
  .content h4 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400; }
  .content h4 a {
    color: #111;
    text-decoration: none; }
  .content h1 {
    font-size: 36px;
    margin: 18px 0 5px 0; }
  .content h2 {
    font-size: 30px;
    margin-bottom: 15px; }
  .content h3 {
    color: #777;
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .content p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1.2em;
    line-height: 1.7em; }
    .content p code {
      font-size: 12px;
      background-color: #eeeeee;
      border: 1px solid #777777;
      border-radius: 3px;
      padding: 2px 3px; }
  .content img {
    padding: 3px;
    border: 1px solid #eeeeee;
    max-width: 100%; }
  .content hr {
    border: 0;
    height: 6px;
    background-image: url("/images/hr.png");
    background-repeat: repeat-x;
    margin: 2em 3em; }
  .content li {
    margin-bottom: 10px;
    line-height: 1.4em; }
  .content blockquote {
    font-style: italic;
    font-size: 14px;
    padding: .25em 1em;
    margin: 1em 1em 0 1em;
    color: #444; }
    .content blockquote cite:before {
      content: '— '; }
    .content blockquote cite {
      display: block;
      margin-top: .5em;
      text-align: right;
      color: #111;
      font-style: normal; }
  .content .by {
    font-family: Helvetica, sans-serif;
    color: #444;
    text-align: right;}
  .content .byline {
    margin-bottom: 17px;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    padding-left: 0px;
    font-size: 17px;
    color: #777; }
  .content .aside {
    background-color: #eeeeee;
    padding: 14px;
    font-size: 14px;
    margin: 5px 0 15px 0;
    font-family: Helvetica, sans-serif;
    line-height: 1.6em; }
  .content .listing {
    margin: 10px 0 0 0;
    padding: 0;
    font-family: Helvetica, sans-serif; }
    .content .listing.images {
	line-height: 16px; }
    .content .listing.images img {
	margin:0;
	padding:0; }
    .content .listing.images img, .content .listing.images span, .content .listing.images a {
	vertical-align: middle; }
    .content .listing.images img + a {
	padding-left: 5px; }
    .content .listing ul {
      margin: 0;
      padding: 0; }
    .content .listing li {
      font-size: 13px;
      list-style: none;
      padding: 5px 3px;
      margin: 0;
      color: #777777;
      border-bottom: 1px solid #eee; }
    .content .listing li span {
      float: right; }
    .content .listing li span a {
      color: #777; }
    .content .listing a {
      text-decoration: none; }
      .content .listing a:hover {
        text-decoration: underline; }
    .content .listing li li {
      text-align: right; 
      border-bottom: none;}
    .content .listing li li a {
      color: #777777;}
  .content .meta {
    margin: 30px 0;
    padding: 10px 0;
    font-family: Helvetica, sans-serif; }
    .content .meta p {
      line-height: 1.4;
      font-size: 14px;
      margin-top: 0px; }
    .content .meta img {
      position: relative;
      float: left;
      margin-top: 0px;
      margin-right: 10px;
      margin-left: -60px;
      border-radius: 4px; }
    .content .meta .copy {
      padding-left: 60px; }
    .content .meta iframe {
      padding-left: 5px; }
    .content .meta a {
      padding-left: 5px;
      padding-right: 5px; }
  .content .nav {
    margin: 30px auto;
    padding: 10px 0;
    text-align: center;
    font-family: Helvetica, sans-serif; }
    .content .nav a {
      padding: 0 10px 0 10px;
      text-decoration: none;}
    .content .nav a.prev:before {
      content: '\2329\00A0\00A0';}
    .content .nav a.next:after {
      content: '\00A0\00A0\232A';}
  .content .talk-design .color div {
    float: left;
    margin-right: 10px;
    padding: 5px 15px;
    border: 1px solid #000;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold; }
  .content .talk-design .color .white {
    color: #fff; }

div.smallbook {
    display: inline-block;
    padding: 10px;
    font-size: smaller;
    text-align: center; }
p.noteboardlink {
    margin-top:0;
    margin-bottom:0; }
p.noteboardlink + p {
    margin-top:1.2em }
p.noteboardlink + p.noteboardlink {
    margin-top:0;
    margin-bottom:0; }
p.timestamp {
    color: #666;
    font-size: smaller;
    padding-top: 20px; }

.alert {color: #991100;}

/* Begin polaroid section. See mcdemarco.net/blog/2013/04/11/polaroids/ for more information. */

/* basic polaroid style adapted from Paulund */
.polaroids a {
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 5px 5px 7px;
	text-align: center;
	text-decoration: none;
	border: 1px solid #ebebeb;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	z-index:0; }
.polaroids img {
	display: block;
	width: inherit; 
}
.polaroids a:after {
	color: #222;
	font-size: 12px;
	font-family: 'Patrick Hand SC', cursive;
	content: attr(title);
	position: relative;
	top:2px;
}

.polaroids a.newTitle:after {
	color: #666;
}

/* Get the images to overflow my usual paragraph width but not overwrite the sidebar. */
div.polaroids {
    position: absolute;
    left: 95px;
    width: auto; }

/* tilting and zooming adapted from zurb */

/* By default, we tilt all our images -2 degrees */
.polaroids a:nth-child(2n) {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	transform: rotate(-2deg); }

/* Rotate all even images 2 degrees */
.polaroids a:nth-child(even) {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg); }

/* Don't rotate every third image, but offset its position */
.polaroids a:nth-child(3n) {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    position: relative;
    top: -5px; }

/* Rotate every fifth image by 5 degrees and offset it */
.polaroids a:nth-child(5n) {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
    position: relative;
    right: 5px; }

/* Rotate every sixth image by -3 degrees */
.polaroids a:nth-child(6n) {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  
/* Keep default rotate for every eighth, but offset it */
.polaroids a:nth-child(8n) {
    position: relative;
    top: 8px;
    right: 5px; }
 
/* Keep default rotate for every eleventh, but offset it */
.polaroids a:nth-child(11n) {
    position: relative;
    top: 3px;
    left: -5px; }

/* Scale the images on hover, add transitions for smoothing things out, ensure the hover appears on top, and darken the shadow */
.polaroids a:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
    -webkit-transition: -webkit-transform .15s linear; 
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
    box-shadow: 0 3px 6px rgba(0,0,0,.5); }

/* end polaroid section */
