.sidebar {
  position: inherit;
  width: inherit;
  margin: 25px;
  padding: 35px;
  box-shadow: -5px -5px 7px #ccc; }
  .sidebar .meta {
    margin-top: 15px; }
    .sidebar .meta img {
      display: inline-block;
      margin-right: 15px; }
  .sidebar .name {
    color: #bebebe;
    display: block; }
  .sidebar .switch {
    color: #bebebe;
    display: block; }

.content {
  margin: 0;
  padding: 15px 25px 5px 25px;
  width: inherit; }
  .content h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 5px 0; }
